In [1]:
from datascience import *
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots

In [2]:
def bootstrap_medians(sample, size, column, repetitions):
    statistics = make_array()
    for i in np.arange(repetitions):
        resample = sample.sample(size)
        statistics = np.append(statistics,percentile(50,resample.column(column)))
    return statistics

In [3]:
babies = Table.read_table('https://raw.githubusercontent.com/AUP-CS2091/class/master/week7/baby.csv')
hodgkins = Table.read_table('https://raw.githubusercontent.com/AUP-CS2091/class/master/week9/hodgkins.csv')
nba = Table.read_table('https://raw.githubusercontent.com/AUP-CS2091/class/master/week9/nba2013.csv')
flights = Table.read_table('https://raw.githubusercontent.com/AUP-CS2091/class/master/week5/united_summer2015.csv')

In [4]:
babies.show(3)

In [5]:
ratio_table = Table().with_column("Ratio", babies.column(0)/babies.column(1))
ratio_table.show(3)

In [6]:
ratio_medians = bootstrap_medians(ratio_table,ratio_table.num_rows,0,2000)
ratio_medians

array([0.43181818, 0.42906574, 0.43050847, ..., 0.42960289, 0.43081761,
       0.42906574])

In [7]:
make_array(percentile(2.5,ratio_medians),percentile(97.5,ratio_medians))

array([0.42537313, 0.43252595])

In [8]:
def bootstrap_means(sample, size, column, repetitions):
    statistics = make_array()
    for i in np.arange(repetitions):
        resample = sample.sample(size)
        statistics = np.append(statistics,np.mean(resample.column(column)))
    return statistics

In [9]:
ages_means = bootstrap_means(babies, babies.num_rows,2,2000)
ages_means

array([27.41056218, 27.13543441, 27.24957411, ..., 27.31431005,
       27.22231687, 27.17717206])

In [10]:
make_array(percentile(2.5,ages_means),percentile(97.5,ages_means))

array([26.89352641, 27.55025554])

In [11]:
smoking_proportion = bootstrap_means(babies, babies.num_rows,5,2000)
smoking_proportion

array([0.39011925, 0.37308348, 0.38926746, ..., 0.38415673, 0.37563884,
       0.40289608])

In [12]:
make_array(percentile(2.5,smoking_proportion),percentile(97.5,smoking_proportion))

array([0.3637138 , 0.41993186])

In [13]:
make_array(0.362,0.418)

array([0.362, 0.418])

In [14]:
make_array(0.362,0.420)

array([0.362, 0.42 ])

In [15]:
make_array(0.362,0.419)

array([0.362, 0.419])

In [16]:
make_array(0.362,0.419)

array([0.362, 0.419])

In [17]:
hodgkins.show(3)

In [18]:
drop_table = Table().with_column("Drop", hodgkins.column(3)-hodgkins.column(4))
drop_table.show(3)

In [19]:
drop_means = bootstrap_means(drop_table, drop_table.num_rows,0,2000)
drop_means

array([22.59136364, 22.14318182, 38.50681818, ..., 27.87909091,
       31.42772727, 27.15681818])

In [21]:
make_array(percentile(0.5,drop_means),percentile(99.5,drop_means))

array([16.20409091, 41.36      ])

In [22]:
numbers = make_array(2,3,3,9)

In [23]:
numbers

array([2, 3, 3, 9])

In [25]:
numbers_mean = np.mean(numbers)

In [27]:
numbers_table = Table().with_column("Numbers", numbers).with_column("Distance", numbers-numbers_mean)

In [28]:
numbers_table

Numbers | Distance
2       | -2.25
3       | -1.25
3       | -1.25
9       | 4.75

In [29]:
sum(numbers_table.column(1))

0.0

In [30]:
numbers_table_deviation = numbers_table.with_column("Squared deviation", numbers_table.column(1)**2)
numbers_table_deviation

Numbers | Distance | Squared deviation
2       | -2.25    | 5.0625
3       | -1.25    | 1.5625
3       | -1.25    | 1.5625
9       | 4.75     | 22.5625

In [35]:
deviation = np.mean(numbers_table_deviation.column(2))
deviation

7.6875

In [36]:
sd = deviation ** 0.5

In [37]:
sd

2.7726341266023544

In [38]:
np.std(numbers)

2.7726341266023544

In [39]:
nba.show(3)

In [41]:
height_mean = np.mean(nba.column(2))
height_mean

79.06534653465347

In [44]:
height_std = np.std(nba.column(2))
height_std

3.4505971830275546

In [47]:
nba.sort(2,descending=False)

Name            | Position | Height | Weight | Age in 2013
Isaiah Thomas   | Guard    | 69     | 185    | 24
Nate Robinson   | Guard    | 69     | 180    | 29
John Lucas III  | Guard    | 71     | 157    | 30
Ty Lawson       | Guard    | 71     | 195    | 25
Shane Larkin    | Guard    | 71     | 176    | 20
Phil Pressey    | Guard    | 71     | 175    | 22
Ish Smith       | Guard    | 72     | 175    | 25
Chris Paul      | Guard    | 72     | 175    | 28
Darren Collison | Guard    | 72     | 160    | 26
J.J. Barea      | Guard    | 72     | 175    | 29
... (495 rows omitted)

In [46]:
(87-height_mean)/height_std

2.2995015194397923

In [48]:
(69-height_mean)/height_std

-2.9169868288775844

In [50]:
weight_mean = np.mean(nba.column(3))
weight_mean

220.67326732673268

In [51]:
weight_std = np.std(nba.column(3))
weight_std

26.616718081006603

In [54]:
nba.sort(3,descending=False)

Name             | Position | Height | Weight | Age in 2013
John Lucas III   | Guard    | 71     | 157    | 30
Darren Collison  | Guard    | 72     | 160    | 26
Aaron Brooks     | Guard    | 72     | 161    | 28
Dennis Schroeder | Guard    | 74     | 168    | 20
Brandon Jennings | Guard    | 73     | 169    | 23
Dee Bost         | Guard    | 74     | 170    | 23
Norris Cole      | Guard    | 74     | 170    | 24
Rajon Rondo      | Guard    | 73     | 171    | 27
Steve Blake      | Guard    | 75     | 172    | 33
Kemba Walker     | Guard    | 73     | 172    | 23
... (495 rows omitted)

In [53]:
(290 - weight_mean)/weight_std

2.6046311368018773

In [55]:
(157 - weight_mean)/weight_std

-2.39222834058453

In [56]:
flights.show(3)

In [60]:
flights_mean = np.mean(flights.column(3))
flights_std = np.std(flights.column(3))
flights_z = flights.with_column("Z", (flights.column(3) - flights_mean)/flights_std)
flights_z

Date   | Flight Number | Destination | Delay | Z
6/1/15 | 73            | HNL         | 257   | 6.08766
6/1/15 | 217           | EWR         | 28    | 0.287279
6/1/15 | 237           | STL         | -3    | -0.497924
6/1/15 | 250           | SAN         | 0     | -0.421937
6/1/15 | 267           | PHL         | 64    | 1.19913
6/1/15 | 273           | SEA         | -6    | -0.573912
6/1/15 | 278           | SEA         | -8    | -0.62457
6/1/15 | 292           | EWR         | 12    | -0.117987
6/1/15 | 300           | HNL         | 20    | 0.0846461
6/1/15 | 317           | IND         | -10   | -0.675228
... (13815 rows omitted)

In [61]:
flights_z.sort(4,descending=True)

Date    | Flight Number | Destination | Delay | Z
6/21/15 | 1964          | SEA         | 580   | 14.269
6/22/15 | 300           | HNL         | 537   | 13.1798
6/21/15 | 1149          | IAD         | 508   | 12.4453
6/20/15 | 353           | ORD         | 505   | 12.3693
8/23/15 | 1589          | ORD         | 458   | 11.1788
7/23/15 | 1960          | LAX         | 438   | 10.6722
6/23/15 | 1606          | ORD         | 430   | 10.4696
6/4/15  | 1743          | LAX         | 408   | 9.91236
6/17/15 | 1122          | HNL         | 405   | 9.83637
7/27/15 | 572           | ORD         | 385   | 9.32979
... (13815 rows omitted)

In [62]:
flights_z.where("Z", are.between(-10,10)).num_rows/flights_z.num_rows

0.999493670886076